#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3em;
  width: 90%;
  border: 2px solid #8666ac;
  border-radius: 1em;
  padding: 1em;
  height: 10vw;
}

.one-contact {
  display: flex;
  align-items: center;
  font-size: 1.3vw;
}

.contact-icon {
  margin-right: 1vw;
}

.contact-a {
  transition: 0.4s all;
  padding: 1vw 2.2vw 1vw 2.2vw;
  border-radius: 0.7vw;
  margin-bottom: 1vw;
}

.contact-a:hover {
  background-color: #8666ac;
  color: white;
  padding: 1vw 2.2vw 1vw 2.2vw;
  border-radius: 2.3vw;
}
