body {
  background-color: #181818;
  max-width: 1440px;
}

* {
  font-family: "Montserrat", sans-serif;
}

/* Couleurs */
.white {
  color: #fff;
}

.violet {
  color: #8666ac;
}

.black {
  color: #181818;
}

/* Titres */
h1 {
  font-family: "Paytone One", sans-serif;
  font-size: 5vw;
}

h1,
.secondary-title {
  text-transform: uppercase;
}

.secondary-title {
  font-weight: 500;
  font-size: 1.5vw;
}
